:root {
    --m3-label-large-font-family: "Roboto", Helvetica;
    --m3-label-large-font-weight: 500;
    --m3-label-large-font-size: 14px;
    --m3-label-large-letter-spacing: 0.10000000149011612px;
    --m3-label-large-line-height: 20px;
    --m3-label-large-font-style: normal;
    --m3-title-large-font-family: "Roboto", Helvetica;
    --m3-title-large-font-weight: 400;
    --m3-title-large-font-size: 22px;
    --m3-title-large-letter-spacing: 0px;
    --m3-title-large-line-height: 28px;
    --m3-title-large-font-style: normal;
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
    --system-colors-labels-primary: rgba(0, 0, 0, 1);
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-m3-mode="light">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-m3-mode="light"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="light-high-contrast"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="light-medium-contrast"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="dark"] {
    --m3-schemes-on-primary: rgba(56, 30, 114, 1);
  }
  
  [data-m3-mode="dark-high-contrast"] {
    --m3-schemes-on-primary: rgba(0, 0, 0, 1);
  }
  
  [data-m3-mode="dark-medium-contrast"] {
    --m3-schemes-on-primary: rgba(27, 9, 66, 1);
  }
  
  [data-m3-mode="monochrome-LT"] {
    --m3-schemes-on-primary: rgba(226, 226, 226, 1);
  }
  
  [data-m3-mode="monochrome-DT"] {
    --m3-schemes-on-primary: rgba(26, 28, 28, 1);
  }
  
  [data-m3-mode="pink-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="pink-DT"] {
    --m3-schemes-on-primary: rgba(83, 29, 57, 1);
  }
  
  [data-m3-mode="rose-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="rose-DT"] {
    --m3-schemes-on-primary: rgba(86, 29, 41, 1);
  }
  
  [data-m3-mode="red-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="red-DT"] {
    --m3-schemes-on-primary: rgba(86, 30, 24, 1);
  }
  
  [data-m3-mode="orange-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="orange-DT"] {
    --m3-schemes-on-primary: rgba(83, 34, 0, 1);
  }
  
  [data-m3-mode="yellow-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="yellow-DT"] {
    --m3-schemes-on-primary: rgba(63, 46, 0, 1);
  }
  
  [data-m3-mode="chartreuse-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="chartreuse-DT"] {
    --m3-schemes-on-primary: rgba(45, 52, 0, 1);
  }
  
  [data-m3-mode="green-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="green-DT"] {
    --m3-schemes-on-primary: rgba(0, 57, 19, 1);
  }
  
  [data-m3-mode="teal-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="teal-DT"] {
    --m3-schemes-on-primary: rgba(0, 55, 49, 1);
  }
  
  [data-m3-mode="cyan-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="cyan-DT"] {
    --m3-schemes-on-primary: rgba(0, 54, 66, 1);
  }
  
  [data-m3-mode="blue-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="blue-DT"] {
    --m3-schemes-on-primary: rgba(21, 46, 96, 1);
  }
  
  [data-m3-mode="indigo-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="indigo-DT"] {
    --m3-schemes-on-primary: rgba(45, 41, 96, 1);
  }
  
  [data-m3-mode="purple-LT"] {
    --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  }
  
  [data-m3-mode="purple-DT"] {
    --m3-schemes-on-primary: rgba(59, 37, 90, 1);
  }
  
  [data-system-colors-mode="light"] {
    --system-colors-labels-primary: rgba(0, 0, 0, 1);
  }
  
  [data-system-colors-mode="dark"] {
    --system-colors-labels-primary: rgba(255, 255, 255, 1);
  }
  
  [data-system-colors-mode="dark-elevated"] {
    --system-colors-labels-primary: rgba(255, 255, 255, 1);
  }
  
  [data-system-colors-mode="IC-light"] {
    --system-colors-labels-primary: rgba(0, 0, 0, 1);
  }
  
  [data-system-colors-mode="IC-dark"] {
    --system-colors-labels-primary: rgba(255, 255, 255, 1);
  }
  
  [data-system-colors-mode="IC-dark-elevated"] {
    --system-colors-labels-primary: rgba(255, 255, 255, 1);
  }
  